:root {
  --success: rgb(97, 146, 55);
  --warning: rgb(224, 69, 12);
  --dark: rgb(32, 32, 32);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

._debug {
  border-width: 1px;
  border-style: solid;
  border-color: red;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.bg-light {
  background-color: #ddd;
}

.bg-white {
  background-color: rgb(255, 255, 255);
}
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}
.justify-content-between {
  justify-content: space-between;
}
.column-gap-3 {
  column-gap: 30px;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.align-items-center {
  align-items: center;
}

.p-5 {
  padding: 50px;
}
.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-15 {
  top: 15px;
}

.end-0 {
  right: 0px;
}

.start-0 {
  left: 0px;
}

.bg-warning {
  background-color: var(--warning);
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-white {
  color: #fff;
}

.text-success {
  color: var(--success);
}

.rounded-1 {
  border-radius: 10px;
}

.shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
}

.list-unstyled {
  list-style: none;
}

.border-start {
  border-left: 1px solid silver;
}

.border-warning {
  border-color: var(--warning);
}

.fs-3 {
  font-size: 30px;
}
.fs-4 {
  font-size: 40px;
}
.fs-5 {
  font-size: 50px;
}

.mt-1 {
  margin-top: 10px;
}